body {
  background-color: #6930c3; }
.banner {
 background-color:#6930c3;
 width:100%;
 height:100vh;}
.navbar {
  width:100%;
  background-color:#6930c3;
  display:flex;
  flex-direction:row-reverse;}
.navbar ul li {
 display:inline-flex;
 padding-right:50px;}
a {
  color:gold;}
.pic {
  width:100%;
  background-color: #6930c3;
  with
  }
.az {
  width:600px;
  height:450px;
  padding:10px;
}
.az2 {
  width:600px;
  height:450px;
  padding:10px;
}